# GitLab user. git by default
user: git

# Url to gitlab instance. Used for api calls. Should end with a slash.
gitlab_url: "http://{{ .Webservice }}:8181/"

secret_file: /etc/gitlab-secrets/shell/.gitlab_shell_secret

http_settings:
  self_signed_cert: false

# File used as authorized_keys for gitlab user
auth_file: "/home/git/.ssh/authorized_keys"

# Redis settings used for pushing commit notices to gitlab
redis:
  host: {{ .RedisMaster }}
  port: 6379
  pass: "<%= File.read("/etc/gitlab-secrets/redis/redis-password").strip.dump[1..-2] %>"
  database: nil
  namespace: resque:gitlab

# Log file.
# Default is gitlab-shell.log in the root directory.
log_file: "/var/log/gitlab-shell/gitlab-shell.log"

# Log level. INFO by default
log_level: INFO

# Audit usernames.
# Set to true to see real usernames in the logs instead of key ids, which is easier to follow, but
# incurs an extra API call on every gitlab-shell command.
audit_usernames: false
